
body {
  background-color: black;
  color: seashell;
  opacity: 0.9;
  font-family: Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  font-size: 22px;
}

/* ~~~~~~~~~~~~~~~~~~~~ */
/*    Header styling    */
/* ~~~~~~~~~~~~~~~~~~~~ */

header {
  top: 0;
  display: flex;
  position: fixed;
  align-items: center;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 1;
}

header img {
  padding-left: 10px;
  height: 50px;
}

nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

nav a {
  padding: 0 10px;
  color: inherit;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*    Main content styling    */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.content {
  padding-top: 70px;
  width: 1200px;
  display: block;
  margin: 0 auto;
}

/* ~~~~~~~~~~~~~~~~~~~~~ */
/*    Mission styling    */
/* ~~~~~~~~~~~~~~~~~~~~~ */

#mission {
  display: flex;
  height: 700px;
  width: 100%;
  background: url("./images/img-mission-background.jpg") center center no-repeat;
  justify-content: center;
  flex-direction: column;
}

#mission h2, #mission h4 {
  background-color: black;
  margin: 0;
  padding: 5px 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~ */
/*    Featured styling    */
/* ~~~~~~~~~~~~~~~~~~~~~~ */

#featured {
  padding: 70px 0;
  width: 1000px;
  margin: 0 auto;
}

.teas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.tea {
  margin: 0 15px;
}

.tea img {
  height: 200px;
  width: 300px;
}

.tea h4 {
  margin-top: 10px;
  padding: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ */
/*    Locations styling    */
/* ~~~~~~~~~~~~~~~~~~~~~~~ */

#locations {
  padding-top: 70px;
  background-image: url("./images/img-locations-background.jpg");
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
}

#locations h2 {
  width: 100%;
  margin: 15px 0;
}

.location {
  background-color: black;
  width: 300px;
  margin: 0 20px;
  opacity: 1;
}

/* ~~~~~~~~~~~~~~~~~~~~ */
/*    Footer styling    */
/* ~~~~~~~~~~~~~~~~~~~~ */

footer div {
  height: 200px;
}

.copyright {
  padding-left: 20px;
  text-align: left;
}
